body {
    background-color: #e7eff5;
    background-image: url("https://www.transparenttextures.com/patterns/otis-redding.png");
}

#appContainer {
    margin: 0px;
    padding: 0px;
    max-width: auto;
}

.jumbotron {
    background-color: #4682B4;
    color: #FFFFFF;
    font-family: 'Ultra', serif;
    /*text-align: center;
    align-content: center;*/
}

.row {
    margin: auto;
    padding: 30px;
}

.result {
    margin: auto;
    padding: 10px;
    text-align: center;
    font-size: xx-large;
    font-family: 'Arvo', serif;
}

.rules {
    font-family: 'Arvo', serif;
    display: inline-block;
}

.funny-gif {
    margin: auto;
    text-align: center;
}

.gif {
    height: 400px;
    width: 600px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.game-container {
    margin: auto;
    padding: 10px;
}

.choice {
    margin: 20;
    text-align: center;
    max-width: 350px;
}

img {
    max-height: 400px;
    max-width: 300px;
    display: block;
    margin: auto;
}

button {
    margin: 20px;
    border: none;
    background-color: transparent;
    display: inline;
}

.card {
    max-width: 300px;
    text-align: center;
    align-content: center;
    font-size: x-large;
    border: none;
    margin: auto;
    display: inline-block;
}

.card-header {
    background-color: #191970;
    color: #FFFFFF;
    max-width: 300px;
    text-align: center;
    align-content: center;
    font-size: x-large;
    border: none;
    font-family: 'Arvo', serif;
}

.card-body {
    background-color: #F0F8FF;
    max-width: 300px;
    text-align: center;
    align-content: center;
    font-size: x-large;
    border: none;
    font-family: 'Arvo', serif;
}
